@charset "utf-8";
/**
 *  Create Date: 2017-04-14
 *  Note:  底层css
 */

html {
    color: $text-base;
    font-size: $browser-default-font-size;
    background: $bg-base;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td {
    margin:0;padding:0;
}
table { 
    border-spacing:0;
    border-collapse:collapse;
}
fieldset,img {
    border:0;
    outline: none;
}
address,caption, cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul,li {
    list-style:none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

a {
	outline: none;
	text-decoration: none;
}
a:hover,
a:focus,
a:link,
a:active {
    text-decoration: none !important;
}





